# Based on reference https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
## File-based project format:
*.iws

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
.gradle/
build/
out/
classes/

# Other
.vertx/
/logs
sonar-project.properties
*.patch
.java-version
*.log
*.json
